/*
// Examples Stylesheet
// -------------------
*/
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
}
a {
  color: #08c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
  padding: 1em;
}
.footer {
  margin-top: 50px;
  border-top: 1px solid #eee;
  padding: 20px 0;
  font-size: 12px;
  color: #999;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-weight: 100;
  margin: 0.5em 0;
}
label {
  color: #999;
  display: inline-block;
  font-size: 0.85em;
  font-weight: bold;
  margin: 1em 0;
  text-transform: uppercase;
}
.hint {
  margin: 15px 0;
  font-style: italic;
  color: #999;
}
svg {
  position: relative;
}
.tooltip {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 350px;
  padding: 5px;
  font-size: 11px;
  text-align: left;
  color: #000000;
  background: #cccccc;
  border: 2px solid #999999;
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
}
svg:hover .tooltip {
  display: block;
}
